<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="app.capgo.persistent_uuid.auth.AuthenticatorService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCOUNT_AUTHENTICATOR">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
